In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
import tensorflow as tf
from tensorflow.keras import layers
import json
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Excel-Datei laden
df = pd.read_excel('data/KoÌˆhler_Iselborn_Rohdatensatz_Zenodo.xlsx', sheet_name='verwertbare Nettostichprobe')
df = df[df['Status'] == 'Completed'].copy()
df.drop(columns=['Fall', 'Status', 'Bearbeitungszeit\n(Sekunden)', 'ErklÃ¤rung \nDatenverarbeitung', 'Q0', 'Q3'], inplace=True)
df.replace(-99, np.nan, inplace=True)
df.to_csv("clean_data.csv", index=False)
df

,Q1,Q2A,Q2B,Q2C,Q2D,Q2E,Q2F,Q2G,Q4A,Q4B,...,Q12I,Q13,Q14,Q15,Q16,Q17A,Q17B,Q17C,Q17D,Q17E
0,5,2,2.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,...,3.0,2.0,6.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0
1,3,2,2.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,...,2.0,1.0,6.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0
2,3,3,3.0,2.0,2.0,1.0,2.0,2.0,3.0,2.0,...,4.0,2.0,8.0,2.0,1.0,0.0,0.0,0.0,1.0,0.0
4,3,2,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,...,2.0,1.0,5.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0
7,2,2,3.0,1.0,2.0,3.0,3.0,3.0,3.0,3.0,...,5.0,1.0,5.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,3,3,3.0,1.0,1.0,3.0,3.0,3.0,2.0,3.0,...,3.0,1.0,8.0,1.0,9.0,0.0,0.0,1.0,0.0,0.0
532,2,3,3.0,2.0,1.0,3.0,3.0,2.0,3.0,2.0,...,5.0,2.0,7.0,1.0,3.0,0.0,0.0,1.0,0.0,1.0
533,3,2,3.0,1.0,1.0,3.0,3.0,3.0,1.0,3.0,...,1.0,2.0,12.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0
534,5,1,3.0,1.0,1.0,3.0,1.0,1.0,2.0,2.0,...,2.0,2.0,6.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0
535,5,2,1.0,2.0,1.0,3.0,1.0,2.0,1.0,3.0,...,2.0,2.0,9.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0